.logo {
    font-family: Raleway, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.logo__text {
    color: var(--blue-text-color);
}

.logo__header {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--title-color);

    @media screen and (min-width: 768px) {
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        
         }
}

.logo__footer{
    display: block;
    color: var(--secondary-color);
    margin-bottom: 20px;
}