:root {
    --header-color: #2F303A;
    --title-color: #212121;
    --text-color: #757575;
    --blue-text-color: #2196F3;
    --background-color: #F5F4FA;
    --secondary-color: #ffffff;
}

body {
    font-family: Roboto, Tahomo, sans-serif;
    color: var(--text-color);
}